
    <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="card shadow-sm">
                <%# <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns=""
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                > %>
                  <%# <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                    Football Expected Site
                  </text>
                </svg> %>

                <img src="../../assets/images/apliskusyo.jpg" alt="" height="200" width="300">
                <%# <%= image_tag '../../assets/images/apliskusyo.jpg', size: '100x200' %>

                <%# 画像挿入は許可を取ってから行う %>

                <div class="card-body">
                  <p class="card-text">
                    昨年度開催されたカタールW杯に焦点を当て、企画から運用まで作成された娯楽webサイトになっています。
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                      <a href="apli">詳細</a>
                      </button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                    Laravel 掲示板
                  </text>
                </svg>

                <div class="card-body">
                  <p class="card-text">
                    laravelで掲示板を作りました。
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        View
                      </button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
